<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img width="100%" src="/images/logo-mercado-liebre.svg">
        <p>Barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="Ofertas.htnl">Ofertas</a></li>
                <li><a href="TiendasOficiales.htnl">Tiendas Oficiales</a></li>
                <li><a href="Vender.htnl">Vender</a></li>
                <li><a href="Ayuda.htnl">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="Crea tu cuenta.htnl">Creá tu cuenta</a></li>
                <li><a href="Ingresa.htnl">Ingresá</a></li>
                <li><a href="MisCompras.htnl">Mis Compras</a></li>
            </ul>
        </nav>
        <img width="100%" src="/images/img-home-banner.jpg">
    </header>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg">
                <P>$6.770</p>
                <p>40% OFF</p>
                <p><b> Cafetera Moulinex</b></p>
        
                <img width="100%" src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><b>MacBook Pro 2019</b></p>
            
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><b>Samsung Galaxy S10</b></p>
           
                <img width="100%" src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><b>Smart Tv Samsung 43"</b></p>
        </section>
        <section>
            <h3>Ofertas</h3>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg">
                <P>$6.770</p>
                <p>40% OFF</p>
                <p><b> Cafetera Moulinex</b></p>
        
                <img width="100%" src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><b>MacBook Pro 2019</b><p>
            
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><b>Samsung Galaxy S10</b></p>
           
                <img width="100%" src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><b>Smart Tv Samsung 43"</b></p>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.
            </p>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>

    </footer>
</body>
</html>