<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet"> 
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="bg-yellow p-1 flex flex-wrap">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre">
         
            <form class=" m-a w-100 flex radius-1 bg-white " action="/" >
              <input
                class="  flex-grow b-none outline-none font-xl"
                type="text"
                name="search"
                placeholder="Buscá productos por nombre, marcas o palabras clave"
              />
              <button type="submit" class="bg-white b-none">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>

            <h2 class="primer-txt">
                <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin 
                tarjeta de crédito
            </h2>
        </div>
       
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a  href="Ofertas.htnl">Ofertas</a></li>
                <li><a  href="TiendasOficiales.htnl">Tiendas Oficiales</a></li>
                <li><a  href="Vender.htnl">Vender</a></li>
                <li><a  href="Ayuda.htnl">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li>
                    <a  href="/register">
                        Creá tu cuenta <i class="fa-regular fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a  href="/login">
                        Ingresá <i class="fa-solid fa-right-to-bracket"></i>
                    </a> 
                </li>
                <li>
                    <a  href="MisCompras.htnl">
                        Mis Compras <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <img class="img-banner" src="/images/img-home-banner.jpg"
    alt="Promoción fiestas"
    width="100%">
    <main>
        <section class="p-1 flex flex-wrap gap"> 
            <h2 class="titulares">Basado en tu ultima visita</h2>
            <article class="bg-white product my-1 article-shadow w-100 md-w-50 lg-w-25">
                <img  width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="contenedor-art">
                    <i class="fa-solid fa-truck"></i>
                    <P class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h3 class="descripcion"><b> Cafetera Moulinex</b></h3>
                </div>
            </article>
            <article class="bg-white product my-1 article-shadow w-100 md-w-50 lg-w-25">
                <img  width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro-2019">
                <div class="contenedor-art">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h3 class="descripcion"><b>MacBook Pro 2019</b></h3>
                </div>
            </article>
            <article class="bg-white product my-1 article-shadow w-100 md-w-50 lg-w-25">
                <img  width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="contenedor-art">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h3 class="descripcion"><b>Samsung Galaxy S10</b></h3>
                </div>
            </article>
            <article class="bg-white product my-1 article-shadow w-100 md-w-50 lg-w-25">
                <img  width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv">
                <div class="contenedor-art">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h3 class="descripcion"><b>Smart Tv Samsung 43"</b></h3>
                </div>
            </article>
        </section>
        <section class="p-1 flex flex-wrap gap">
            <h2 class="titulares">Ofertas</h2>
            <article class="bg-white product my-1 article-shadow w-100 md-w-50 lg-w-25">
                <img  width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="contenedor-art">
                    <i class="fa-solid fa-truck"></i>
                    <P class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h3 class="descripcion"><b> Cafetera Moulinex</b></h3>
                </div>
            </article>
            <article class="bg-white product my-1 article-shadow w-100 md-w-50 lg-w-25">
                <img  width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro-2019">
                <div class="contenedor-art">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h3 class="descripcion"><b>MacBook Pro 2019</b></h3>
                </div>
            </article>
            <article class="bg-white product my-1 article-shadow w-100 md-w-50 lg-w-25">
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="contenedor-art">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h3 class="descripcion"><b>Samsung Galaxy S10</b></h3>
                </div>
            </article>
            <article class="bg-white product my-1 article-shadow w-100 md-w-50 lg-w-25">
                <img  width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv">
                <div class="contenedor-art">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h3 class="descripcion"><b>Smart Tv Samsung 43"</b></h3>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-desk">
            <div class="w-100 text-center   text-align justify-y p-1 mx-auto ">
                <i class="fa-solid fa-credit-card color-blue font-em my-1"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="w-100 text-center  text-align justify-y p-1 mx-auto ">
                <i class="fa-solid fa-gift color-blue font-em my-1"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="w-100 text-center text-align justify-y p-1 mx-auto ">
                <i class="fa-solid fa-user-shield color-blue font-em my-1"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
        
        </footer>
</body>
</html>